<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error | Pagina no encontrada</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/nifty.min.css" rel="stylesheet">
    <link href="css/demo/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="plugins/pace/pace.min.css" rel="stylesheet">
    <script src="plugins/pace/pace.min.js"></script>
</head>
<body>
	<div id="container" class="cls-container">
		<div class="cls-header">
			<div class="cls-brand">
				<a class="box-inline" href="{{ path('homepage') }}">
					<!-- <img alt="Nifty Admin" src="images/logo.png" class="brand-icon"> -->
					<span class="brand-title">Cardio <span class="text-thin">Admin</span></span>
				</a>
			</div>
		</div>
		<div class="cls-content">
			<h1 class="error-code text-warning">404</h1>
			<p class="h4 text-thin pad-btm mar-btm">
				<i class="fa fa-exclamation-circle fa-fw"></i>
				Esta pagina no se encuentra, disculpe las molestias.
			</p>
			<br>
			<div class="pad-top"><a class="btn-link" href="{{ path('homepage') }}">Volver a la pagina principal</a></div>
		</div>
	</div>
    <script src="js/jquery-2.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="plugins/fast-click/fastclick.min.js"></script>
    <script src="js/nifty.min.js"></script>
</body>
</html>
